!.git/ref

**/.*
**/.dockerignore
**/Dockerfile
**/*.Dockerfile

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

**/env
**/.env

**/.tox
**/coverage.xml
**/*.cover
**/*.coverage

**/build
**/dist
**/node_modules

**/*.log
